.issue-detail-sidebar-container{
  width: 35%;
  padding: 20px;
}

.issue-detail-sidebar-container > table > tr:hover {
  background-color: #fff;
}

.issue-detail-sidebar-container > table > tr > th {
  width: 135px;
  font-size: 14px;
  color: gray;
  font-weight: 400;
}


.tally{
  padding: 6px 9px;
  border-radius: 22px;
  background-color: #5e5e5e;
  color: #fff;
  margin-right: 7px;
}
