.issue-detail-main-container{
  width: 100%;
  display: flex;
  padding-left: 15px;
  // background: yellow;
}

.issue-detail-content-container{
  width: 65%;
  // background: red;
}

.issue-detail-command-container{
  width: 100%;
  // background-color: green;
  height: 60px;
}
.issue-detail-container{
  width: 100%;
  height: 400px;
  background: #fff;
}

.issue-detail-form-container{
  position: relative;
}

.issue-detail-form-text{
  padding: 4px;
  border-radius: 3px;
  border: none;
  border: 1px solid #fff;
}

.issue-detail-form-text:hover{
  background-color: #FAFBFC;
  border: 1px solid #e8ebef;
}
.issue-detail-form-text:focus{
  border: 1px solid blue;
}

.issue-detail-summary{
  width: 100%;
  font-size: 23px;
  font-weight: 600;
}

.issue-detail-project-info{
  margin-bottom: 20px;
  font-size: 14px;
}

.issue-detail-profile-container{
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}

.confirmation-box-container{
  display: none;
  position: absolute;
  background-color: red;
  height: 30px;
  width: 60px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  right: 0;
}
.confirmation-box-container.active{
  display: flex;
  align-items: center;
}

.confirm-box{
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FAFBFC;
  cursor: pointer;
}
.confirm-box:first-child{
  border-right: 1px solid lightgray;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.confirm-box:first-child:hover{
  background-color: #00FFB1;
}
.confirm-box:last-child{
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.confirm-box:last-child:hover{
  background-color: #E56D7E;
}

.status-container{
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  min-width: 450px;
}

.status-item-container{
  width: 50%;
  height: 83px;
}

.status-label-text{
  padding: 5px 8px;
  border-radius: 4px;
  margin-left: 33px;
  margin-top: 8px;
}
.status-label-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.todo{
  background-color: lightgray;
}
.inProgress{
  background-color: rgb(6, 51, 233);
  color: #fff;
}
.done{
  background-color: #00FFB1;
}

.resolution-label-text{
  padding: 5px 8px;
  border-radius: 4px;
  margin-left: 33px;
}

.issue-description-container{
  position: relative;
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: 1.6;
}

.issue-description-preview:focus{
  outline: none;
}

.issue-description-editor{
  position: relative;
  top: 0;
}

.issue-detail-section-header{
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 15px;
}


.issue-attachment-preview-container{
  display: flex;
  flex-direction: column;
  width: 150px;
  margin: 12px;
  padding: 10px;
  justify-content: space-between;
  color: #000
}

.issue-attachment-preview-container:hover{
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.issue-attachment-previews-container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
}

.issue-attachment-file-name{
  font-size: 14px;
  font-weight: 600;
}

.issue-attachment-preview-image{
  border: 1px solid lightgray;
  margin-bottom: 5px;
  height: 95px;
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.issue-attachment-preview-button-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  font-size: 13px;
  margin-top: 3px;
}


.dropzone:hover{
  background: #ececec;
  width: 100%;
}

.history-item-container{
  margin-bottom: 25px;
}

.history-user-info{
  width: 100%;
  display: flex;
  margin-right: 10px
}

.history-user-info-text{
  font-size: 13px;
  align-items: center;
  display: flex;
  margin-left: 11px;
}

.history-user-username{
  font-size: 13px;
  font-weight: 600
}

.history-change-info > table > thead > tr > td {
  font-size: 11px;
  font-weight: 500;
  color: gray;
  padding-bottom: 4px;
  padding-left: 0px;
}

.history-change-info > table > tbody > td {
  padding-left: 0px;
  font-weight: 500;
  padding-top: 4px;
  width: 40%
}

.history-change-info > table > tbody > td:first-child{
  width: 100px;
}

.history-icon{
  margin-right: 8px;
}
