.new-issue-dropdowns{
  width: 100%;
  display: flex;
  justify-content: space-between;
}


.new-issue-form-no-project-container{
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 170px;
}
