$color-blue: #0747A6;

.blue-background {
  background-color: rgb(6, 51, 233);
}

.white-background {
  background-color: #fff;
}

.blue {
  color: rgb(6, 51, 233);
}

.gray-background {
  background-color: #efefef;
}
