$color-blue: rgb(6, 51, 233);

.blue-background {
  background-color: rgb(6, 51, 233);
}

.red{
  color: red;
}

.white-background {
  background-color: #fff;
}

.blue {
  color: rgb(6, 51, 233);
}

.gray-background {
  background-color: #efefef;
}
