
.assigned-issue-container{
  margin-bottom: 17px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 9px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.22);
  transition: 0.2s all;
}
.assigned-issue-container:hover{
  cursor: pointer;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.45);
  transition: 0.2s all;
}

.assigned-issue-summary{
  font-weight: 400;
  font-size: 16px;
}

.assigned-issue-status{
  font-size: 13px;
  color: gray;
  font-weight: 600;
}
