.team-activity-item-container{
  // background: red;
  padding: 20px;
  margin-bottom: 10px;
}

.team-activity-issue-info{
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-weight: 600;
  font-size: 16px;
  align-items: center;
}


.team-activity-projects-label{
  padding: 8px;
  background-color: #dbdbdb;
  color: black;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
  margin-left: 30px;
}

.team-activity-user-info{
  display: flex;
  align-items: center;
}

.team-activity-username{
  font-size: 12px;
  font-weight: 600;
  margin-left: 9px;
  margin-right: 7px;
}
.team-activity-secondary{
  font-size:   12px;
  color: gray;
}
