.login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  background-color: rgb(6, 51, 233);
}



.login-form-container{
  padding: 20px;
  width: 375px;
  height: 500px;
  background-color:#fff;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  position: relative;
  border-radius: 6px;
}


.login-form-header{
  width: 100%;
  box-sizing: border-box;
  height: 70px;
  background: lightgray;
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 90px;
}


.login-left-container, .login-right-container{
  display: flex;
  flex-direction: column;
}

.sign-up-prompt{
  margin-top: 30px;
  text-align: center;
  color: white;
  // border: 1px solid rgba(255,255,255,0.4);
}
.sign-up-prompt:hover{
  color: lightgray;
  cursor: pointer;
}
