.test{
  width: 200px;
  height: 40px;
  background-color: red
}

.project-sprint-container{
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
}
.sprint-dropzone-container{
  width: 30%;
  background-color: #e3e3e4;
  margin: 10px;
  padding: 5px;
  border-radius: 4px;
}

.sprint-dropzone-title{
  font-size: 16px;
  margin-bottom: 4px;
  padding: 10px;
  box-sizing: border-box;
  font-weight: 600;
  color: #4a4a4a;
}

.project-sprint-widget-container{
  width: 100%;
  background-color: #fff;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 9px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-bottom: 4px;
}

.project-sprint-widget-container:hover{
  border-color: rgb(6, 51, 233)
}

.project-sprint-summary{
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
}

.project-sprint-secondary{
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.widget-hide{
  transform:translateX(-9999px);
}

.new-sprint-date-container{

}

.new-sprint-date-titles{
  display: flex;
  justify-content: space-between;
}

.new-sprint-date-selectors{
  display: flex;
  justify-content: space-between;
}

.new-sprint-name{
  display: flex;
  flex-direction: column;
}

.current-sprint-container{
  width: 100%;
  height: 100%;
}

.current-sprint-boards{
  display: flex;
}

.current-sprint-info-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: flex-end;
}

.current-sprint-text-container{
  width: 252px;
  height: 65px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 13px;
}

.current-sprint-date-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.current-sprint-label{
  font-weight: 600;
}

.no-sprint-container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.current-sprint-button-container{

}
