.backlog-container{
  width: 100%;
  min-height: 100px;
  background: #e3e3e4;
  border-radius: 6px;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.backlog-items-container{
  width: 100%;
  margin-bottom: 20px;
  padding: 20px 0px;
  box-sizing: border-box;
}

.backlog-container-title{
  font-size: 17px;
  font-weight: 600;
}

.backlog-item-summary{
  display: flex;
  align-items: center;
}

.backlog-item-container{
  position: relative;
  padding: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 7px;
  background: #fff;
  justify-content: space-between;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.35);
  transition: 0.2s all;
}

.backlog-item-container:hover{
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.29);
  transition: 0.2s all;
  cursor: pointer;
}

.backlog-item-icon{
  margin-right: 10px;
}


.dragging{
  background-color: #fff;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}


.dragging-preview{
  display: none;
}

.dragging-preview.active{
  display: block
}
