.dropdown-container{
  position: relative;
  margin-bottom: 23px;
}

.dropdown-icon-placeholder{
  width: 34px;
  height: 34px;
  position: absolute;
  // background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 3px;
}
.dropdown-icon-placeholder img{

}

.dropdown-options{
  margin-top: 4px;
  position: absolute;
  width: 100%;
  z-index: 100;
  height: 200px;
  overflow: scroll;
}

.dropdown-option-container{
  padding: 9px;
  background-color: #fff;
  font-size: 14px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}

.dropdown-option-container:hover{
  background-color: #efefef;
}

.dropdown-option-text{
  margin-left: 14px;
}

.dropdown-input{
  width: 100%;
  padding: 9px;
  font-size: 14px;
  font-weight: 700;
  box-sizing: border-box;
  padding-left: 41px;
  border: 1px solid #fff;
  color: transparent;
  text-shadow: 0 0 0 black;
}
.dropdown-input:hover{
  border: 1px solid lightgray;
}
.dropdown-input:focus{
  border: 1px solid lightgray;
  outline: none;
}
