button {
  cursor: pointer;
}

a {
  cursor: pointer;
}

.global-container{
  display: flex;
}

.content-inner-container-placeholder{
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.placeholder-text{
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.content-container{
  width: 100%;
  max-height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  position: absolute;
  padding-left: 275px;
  box-sizing: border-box;
  transition: 0.4s all ease-in-out;
  transition-delay: 0.2s;
}

.content-inner-container{
  width: 100%;
  padding: 35px;
  display: flex;
  flex-direction: column;
  min-width: 700px;
  max-height: 100vh;
}

.content-header{
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.login-button{
  padding: 8px;
  font-size: 14px;
  border: 1px solid gray
}

.large-button{
  padding: 10px 14px;
  font-weight: 500;
  color: #fff;
  border: none;
  border-radius: 4px;
  width: fit-content;
  font-size: 20px;
}

.primary-button{
  padding: 10px 14px;
  font-weight: 500;
  color: #fff;
  border: none;
  border-radius: 4px;
  width: fit-content;
  height: auto;
  font-size: 13px;
}

.primary-button:hover{
  opacity: 0.85
}

.secondary-button{
  padding: 10px 14px;
  font-weight: 500;
  color: #000;
  border: none;
  border-radius: 4px;
}

.primary-button:hover{
  opacity: 0.85
}

.row{
  flex-direction: row;
}

.bold{
  font-weight: 600
}

.table-user-container{
  display: flex;
  align-items: center;
}

.borderless-button{
  border: none;
  font-weight: 600;
  background: none;
  border-style: none;
  font-size: 14px;
  color: #0216ff;
}

.borderless-button:hover{
  color: #7f87e8;
  cursor: pointer;
}

.current-container-title{
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 17px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #535353;
  color: #535353;
  padding-bottom: 10px;
  height: 38px;
}


.blue-background {
  background-color: rgb(6, 51, 233);
}

.red{
  color: red;
}

.white-background {
  background-color: #fff;
}

.blue {
  color: rgb(6, 51, 233);
}

.gray-background {
  background-color: #efefef;
}


.gray{
  color: #535353;
}

.quill{
  margin-bottom: 20px;
}

// @media (max-width: 920px) {
//   .content-container{
//     padding-left: 70px;
//     transition: 0.4s all ease-in-out;
//     transition-delay: 0.2s;
//   }
// }
