.global-container{
  display: flex;
}

.content-container{
  width: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content-inner-container{
  width: 100%;
  padding: 35px;
  display: flex;
  flex-direction: column;
}

.content-header{
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 20px;
}

.login-button{
  padding: 8px;
  font-size: 14px;
  border: 1px solid gray
}


.primary-button{
  padding: 10px 14px;
  font-weight: 500;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.primary-button:hover{
  opacity: 0.85
}

.secondary-button{
  padding: 10px 14px;
  font-weight: 500;
  color: #000;
  border: none;
  border-radius: 4px;
}

.primary-button:hover{
  opacity: 0.85
}
