.loading-container{
  position: fixed;
  width: 200px;
  height: 50px;
  background-color: #efefef;
  right: 25px;
  bottom: 26px;
  border-radius: 5px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.12);
  border: 1px solid #d8d8dc;
  display: flex;
  // align-items: center;
  // justify-content: center;
}


.full-loading-container{
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(251, 251, 255, 1);
  display: none;
  align-items: center;
  justify-content: center;
}

.loading-active{
  display: flex;
  // z-index: 4;
  // position: absolute;
}

.loading-spinner-container{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
