body{
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

h3{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: inherit;
}
a:visited{
  color: inherit;
}

button:focus{
  outline: none;
}

.quill{
  background-color: #fff;
}
